body{
    width: 1440px;
    font-family: Karla;
    font-size: 1rem;
}

.attribution{ 
    font-size: 11px;
    text-align: center;
}

.attribution a{ 
    color: hsl(228, 45%, 44%);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

.navList{
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

li {
    font-weight: 700;
    color: gray;
    padding: 20px;
    margin-right: 20px;
}

li a{
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px 20px;
}

.human{
    background-color: hsl(256, 26%, 20%);
    color: white;
    display: flex;
    flex-direction: column;
    height: 500px;
}

.peopleContainer{
    display: flex;
    justify-content: center;
    position: relative;
    bottom:70%;
    left: 45%;
    width: 60%;
    height: 100%;
}

.people{
    height: 100%;
}

.introContainer{
    position: relative;
    height: 85%;
    width: 25%;
    bottom: 195%;
    left: 78%;
}

.intro{
    height: 100%;
    width:fit-content;
}
h1{
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 2.6rem;
    width: 50%;
    letter-spacing: 0.09em;
}

.text1 > p{
    width: 90%;
    letter-spacing: 0.09em;
    line-height: 32px;
}

.text1 > span{
    color: white;
    border: 2px solid white;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-top: 20px;
}

.text1{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 50%;
    padding: 50px 11%;
}